:root {
  --main-color: #4580f5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ======= 共通クラス ======= */
html { font-size: 62.5%; }

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  color: #333;
}

/* ======= Header ======= */
.headerWrapper {
  max-width: 1920px;
  width: 100%;
  /* padding: 2.5rem 12%; */
  padding: 2.5rem 6rem;
}

.headerInner {
  display: flex;
  align-items: center;
}

.headerInner h1 {
  color: #333;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  background-color: #d1d1d1;
  border-radius: 3px;
}

.headerMenu {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

.headerNav {
  margin-left: 5.5rem;
  font-weight: bold;
}

.headerNav ul {
  display: flex;
  align-items: center;
}

.headerNav li {
  margin-right: 3.4rem;
}

.headerNav li a {
  color: #333;
  font-size: 1.6rem;
}

.headerContact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.headerContact .headerPhone {
  margin-right: 3rem;
}

.headerPhone .headerCall {
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
}

.headerPhone .headerCall::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.9rem;
  transform: translateY(-50%);
  background: url(../img/phone.svg);
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: contain;
}

.headerPhone .headerOpen {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: right;
}

.btnCta a {
  color: #fff;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  background-color: var(--main-color);
  font-size: 1.6rem;
  padding: 1rem 3rem;
}

.btnCta.docBtn {
  margin-right: 1.6REM;
}

.btnCta.docBtn a {
  border: 1px solid #ff8000;
  background-color: #ff8000;
}

.mobileBtn {
  display: none;
}


/* ======= Footer ======= */
.bottomCta {
  background: var(--main-color);
  padding: 6rem 0;
}

.bottomInner {
  text-align: center;
}

.contactText {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 1.2rem;
  color: #fff;
}

.contactTtl {
  font-size: 2.6rem;
  font-weight: 800;
  padding-bottom: 2.4rem;
  color: #fff;
}

.bottomBtn a {
  border: 1px solid #ff8000;
  border-radius: 4px;
  color: #ffff;
  background-color: #ff8000;
  font-size: 2rem;
  padding: 1.5rem 15.5rem;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.bottomPhone {
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.bottomPhone p:first-of-type {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 2rem;
}

.bottomPhone p:last-of-type {
  font-size: 2.6rem;
  font-weight: bold;
}

.bottomPhone p:last-of-type span {
  font-size: 1.6rem;
  display: inline-block;
  margin-left: 1.6rem;
}

/* Main Footer */
footer {
  background: #212121;
  color: #fff;
  max-width: 1920px;
  width: 100%;
  padding: 4rem 12%;
}

.footerWrapper {
  display: flex;
}

.footerInfo h2 {
  background: #d1d1d1;
  padding: 2rem 4rem;
  color: #333;
}

.footerContent {
  margin-top: 3rem;
}

.footerContent p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footerMenu {
  display: flex;
  margin-left: auto;
}

.footerMenu div {
  margin-right: 5rem;
}

.footerMenu div:last-of-type {
  margin-right: 0;
}

.footerMenu li {
  margin-bottom: 1.6rem;
}

.footerMenu a {
  color: #fff;
  font-size: 1.5rem;
}

/* PC調整用CSS */
@media screen and (max-width: 1300px) {
  /* ======= Header ======= */
.headerWrapper {
  padding: 2.5rem 6rem;
}

.headerInner h1 {
  color: #333;
  font-size: 1.5rem;
  padding: 1rem 4rem;
  background-color: #d1d1d1;
  border-radius: 3px;
}

.headerNav {
  margin-left: 4rem;
}

.headerNav li {
  margin-right: 2.4rem;
}

.headerContact .headerPhone {
  display: none;
}

.headerPhone .headerCall::before {
  display: none;
}
}

/* ハンバーガーメニュ表示CSS */
@media screen and (max-width: 1060px) {

  .headerNav {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
  }

  .headerNav.show {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    visibility: visible;
    opacity: 1;
  }

  .headerNav ul {
    display: block;
  }

  .mobileBtn {
    display: block;
    width: 3.4rem;
    height: auto;
    z-index: 10;
    margin-left: 2rem;
  }

  .mobileBtn span {
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    margin-bottom: 1rem;
  }

  .mobileBtn span:last-of-type {
    margin-bottom: 0;
  }
}

/* ======= スマートフォン ======= */
@media screen and (max-width: 768px) {
  .headerWrapper {
    padding: 2rem;
  }

  .btnCta {
    display: none;
  }

  /* ==== Footer ==== */
  .bottomCta {
    background: var(--main-color);
    padding: 6rem 0;
  }

  .bottomInner {
    width: 96%;
    margin: 0 auto;
  }
  
  .contactText {
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 1.2rem;
    color: #fff;
  }
  
  .contactTtl {
    font-size: 2.2rem;
    font-weight: 800;
    padding-bottom: 2.4rem;
    color: #fff;
  }
  
  .bottomBtn a {
    border: 1px solid #ff8000;
    border-radius: 4px;
    color: #ffff;
    background-color: #ff8000;
    font-size: 2rem;
    padding: 1.5rem 0;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    width: 90%;
  }
  
  .bottomPhone {
    display: block;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .bottomPhone p:first-of-type {
    font-size: 1.8rem;
    font-weight: bold;
    margin-right: 2rem;
  }
  
  .bottomPhone p:last-of-type {
    font-size: 2.6rem;
    font-weight: bold;
  }
  
  .bottomPhone p:last-of-type span {
    font-size: 1.6rem;
    display: inline-block;
    margin-left: 1.6rem;
  }
}
